<script src="/assets/js/header.js"></script>
<script>
  const dropDown = document.querySelector(".dropdown-menu");
  const badge = document.querySelector(".badge-count");
  const dropDownBtn = document.querySelector("#userDropDownBtn");
  let notifications = [];

  let data = {
    user: "<%- memId %>",
  };

  // toggle notification
  let toogleNotification = async () => {
    if (notifications.length === 0) {
      return;
    }

    dropDown.classList.toggle("show");
    let html = "";

    notifications.forEach((obj, index, array) => {
      html += `<li class="mb-2">
              <a class="dropdown-item border-radius-md" href="#" onclick="readNotification(${
                obj.id
              }, ${obj.ticket_id})">
                <div class="d-flex py-1">
                  <div class="my-auto">
                    <div
                      class="text-right m-auto justify-content-center avatar avatar-sm me-2 ${
                        obj.urole === "admin" ? "avatar-admin" : "avatar-user"
                      }"
                    >
                      ${obj.uname.charAt(0)}
                    </div>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">${
                        obj.type === "update status"
                          ? obj.type.charAt(0).toUpperCase() +
                            obj.type.slice(1) +
                            " by "
                          : "New " + obj.type + " from "
                      }</span>
                      ${obj.uname} `;
      if (obj.type !== "ticket") {
        html += `<p class="text-sm font-weight-normal mb-1">
                                                        on post
                                                        <span class="text-dark font-weight-bold"> ${obj.d_ticket}
                                                        </span>
                                                      </p> `;
      }

      html += `</h6>

                    <p class="text-xs text-dark mb-1">
                      <q> ${obj.detail} </q>
                    </p>

                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      ${getDiffTime(obj.createdAt)}
                    </p>
                  </div>
                </div>
              </a>
            </li> `;

      dropDown.innerHTML = html;
    });
  };

  dropDownBtn.addEventListener("click", toogleNotification);

  const fetchNotification = async () => {
    let config = {
      method: "POST",
      url: `${baseUrl}user/notification`,
      data: data,
    };

    let result = await axios(config)
      .then(function (response) {
        return response;
      })
      .catch(function (error) {
        return error;
      });

    if (result.status !== 200) {
      console.log(result.data);
    }

    if (result.data.length > 0) {
      result.data.forEach((obj, index, arr) => {
        if (!JSON.parse(obj.uread).includes(data.user)) {
          notifications.push(obj);
        }
      });

      if (notifications.length === 0) {
        return;
      }

      notifications.sort((a, b) => b.id - a.id);
      badge.innerHTML = notifications.length;
      badge.style.display = "inline-block";
      return;
    }

    badge.style.display = "none";

    return;
  };

  const readNotification = async (nId, tId) => {
    let config = {
      method: "POST",
      url: `${baseUrl}notification/action`,
      data: Object.assign(data, {
        ticket: tId,
        id: nId,
      }),
    };

    let result = await axios(config)
      .then(function (response) {
        return response;
      })
      .catch(function (error) {
        return error;
      });

    if (result.status !== 200) {
      console.log(result);
    }

    window.location.replace(result.data.url);
  };

  onload = async (event) => {
    fetchNotification();
  };
</script>
