<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head.ejs'); %>
  </head>
  <body class="g-sidenav-show bg-gray-100">
    <main
      class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
    >
      <div v-cloak id="app">
        <h1>Something</h1>
      </div>
    </main>

    <footer><%- include('../../partials/footer.ejs'); %></footer>

    <script type="text/javascript">
      const app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!",
        },
      });
    </script>
  </body>
</html>
